services:

  db:
    image: postgres:17
    container_name: civka_db
    environment:
      POSTGRES_DB: civka
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: .
    ports:
      - "8080:8080"
    container_name: civka_app
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/civka
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      - db

volumes:
  postgres-data:
