<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CivKA</title>

  <link rel="stylesheet" href="/styles.css" />
  <link rel="stylesheet" href="/index-styles.css" />
  <link rel="stylesheet" href="/queries.css" />
  <link
          rel="shortcut icon"
          href="/images/title-foto3.png"
          type="image/x-icon"
  />
</head>

<body>
<header class="header">
  <div class="header2">
    <a th:href="@{/}" class="logo-link">
      <img
              src="/images/logo-44.png"
              alt="Civka Logo"
              class="header-logo-image"
              width="80"
              height="80"
              loading="lazy"
      />
    </a>
    <div class="header-help">
      <div class="main-nav">
        <ul class="header-menu-list left-header">
          <li class="header-menu-item">
            <a th:href="@{/calculate}" class="header-menu-link"
            >Розрахунок</a
            >
          </li>
          <li class="header-menu-item">
            <a
                    href="/#news"
                    class="header-menu-link"
                    onclick="handleNewsLinkClick()"
            >Новини</a
            >
          </li>
          <li sec:authorize="hasRole('ADMIN')" class="header-menu-item">
            <a
                    style="color: #8973c8"
                    th:href="@{/admin}"
                    class="header-menu-link"
            >Панель керування</a
            >
          </li>
        </ul>
        <ul class="header-menu-list right-header">
          <li class="header-menu-item">

          </li>
          <li class="header-menu-item" sec:authorize="isAuthenticated()">
            <a href="#" class="head-new-user-nav plumbum">
              <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="user-logined svg-nav"
              >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>

              <span th:text="${userNickname}"></span>
            </a>
            <form th:action="@{/logout}" method="POST">
              <input
                      type="submit"
                      class="visually-hidden"
                      id="logout-button"
              />
              <label for="logout-button" class="head-new-user-nav2 plumbum">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="user-exit svg-nav"
                >
                  <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"
                  />
                </svg>
              </label>
            </form>
          </li>
        </ul>
      </div>
      <button class="btn-mobile-nav">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                name="menu-outline"
                stroke="currentColor"
                class="icon-mobile-nav"
        >
          <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                name="close-outline"
                stroke="currentColor"
                class="icon-mobile-nav"
        >
          <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18 18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</header>
<script src="/scripts/scroll-nav.js"></script>
<main class="content">
  <section class="info-text">
    <div class="info-main container">
      <div class="content-info">
        <h2 class="h2">Вривайся в Комп'ютерну Арифметику!</h2>
        <p class="p">
          Ви не випадково натрапляєте на цей захопливий веб-сайт, який ви самі запустили локально через докер.
            Вітаю, я людина, яка користувалась цим сайтом для того, аби робити лаби. Тому, коли він загнувся через
            відсутність фінансування, я був засмучений. Тоді ж у моїй голові зародилась ідея реанімувати його для
            локального використання. Якщо ви запустили його у себе - вітаю, у мене це вийшло. Моєю метою було зробити так,
            аби кожен міг, просто встановивши докер, запустити цей сайт для локального користування. З сайту вирізані
            будь які комерційні та аутентифікаційні посилання. Тепер завантажувати схемки теж можна без авторизації.
            Користуйтесь, друзі!
        </p>
      </div>
      <div class="img-info">
        <img
                src="/images/foto-in-section/foto1.jpg"
                alt="Foto helicopter"
                class="foto"
                width="400"
                height="400"
                loading="lazy"
        />
      </div>
    </div>
  </section>
  <section class="info-donate" id="donate">
    <div class="info-main container pb9">
      <div class="img-info">
        <img
                src="/images/foto-in-section/foto2.jpg"
                alt="Foto helicopter"
                class="foto"
                width="400"
                height="400"
                loading="lazy"
        />
      </div>
      <div class="content-info">
        <h2 class="h2">Подякуйте авторам за роботу</h2>
        <p class="p mb10"></p>
        <p class="p mb10">
          Подякуйте розробником цього сайту. я просто реанімую його
        </p>
      </div>
    </div>
  </section>
  <section class="explanation element-animation">
    <div class="info-main container">
      <div class="content-info text-align">
        <h2 class="h2-explanation">До роботи</h2>
        <p class="p mb16">
          Для генерації ви вписуєте номер залікової книжки та вибираєте
          номер лабораторної роботи. Варіант для роботи вираховується через
          номер залікової книжки згідно методички. Після цього зможете
          отримати готовий варіант роботи, з яким ви зможете звіритись.
        </p>
        <img
                src="/images/foto-in-section/foto44.jpg"
                alt="Gilgames"
                class="foto br3 mt8"
                width="300"
                height="300"
                loading="lazy"
        />
      </div>
      <div class="calculate-body shadow-box">
        <div class="form-calculate">
          <h2 class="purple calculate-title title-medium text-align">
            Введіть свої параметри
          </h2>
          <div class="calculate-description">
            <p class="text-align wd-70">
              Коли ви заповните всі поля, натисність кнопку "Згенерувати".
            </p>
          </div>
          <form
                  class="calculate-form"
                  th:object="${labData}"
                  th:action="@{/processForm}"
                  method="POST"
          >
            <div class="calculate-form-body">
              <label for="number" class="visually-hidden"
              >№ Залік.книги</label
              >
              <input
                      required
                      placeholder="№ Залікової книги (3603)"
                      id="number"
                      type="number"
                      class="calculate-input input"
                      th:field="*{creditNumber}"
              />

              <p>Виберіть номер лабораторної роботи:</p>
              <div class="radio-tile-group">
                <div class="input-container">
                  <input
                          type="radio"
                          name="radio"
                          id="lab1"
                          value="1"
                          th:field="*{labNumber}"
                  />
                  <div class="radio-tile">
                    <label for="lab1">1</label>
                  </div>
                </div>

                <div class="input-container">
                  <input
                          type="radio"
                          name="radio"
                          id="lab2"
                          value="2"
                          th:field="*{labNumber}"
                  />
                  <div class="radio-tile">
                    <label for="lab2">2</label>
                  </div>
                </div>

                <div class="input-container">
                  <input
                          type="radio"
                          name="radio"
                          id="lab3"
                          value="3"
                          th:field="*{labNumber}"
                  />
                  <div class="radio-tile">
                    <label for="lab3">3</label>
                  </div>
                </div>

                <div class="input-container">
                  <input
                          type="radio"
                          name="radio"
                          id="lab4"
                          value="4"
                          th:field="*{labNumber}"
                          disabled
                  />
                  <div class="radio-tile">
                    <label for="lab4">4</label>
                  </div>
                </div>

                <div class="input-container">
                  <input
                          type="radio"
                          name="radio"
                          id="lab5"
                          value="5"
                          th:field="*{labNumber}"
                          disabled
                  />
                  <div class="radio-tile">
                    <label for="lab5">5</label>
                  </div>
                </div>
              </div>
            </div>

            <button
                    type="submit"
                    class="calculate-button button transparent purple"
                    title="Відправити"
            >
              Згенерувати
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="/scripts/slow-scroll.js"></script>
<footer class="footer">
  <div class="footer-extra">
    <div class="footer-extra-inner container">
      <div class="footer-copyright">
        © <time datetime="2024">2024</time>
        <p class="p">CivKA.</p>
        <p class="p">
          Ми не відповідальні за ваші оцінки. Сайт створений лише з метою
          перевірки знань та звірення відповідей.
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
